<div class="container mt-4">
  <h1>Editing profile</h1>
  <%= render "form", profile: @profile %>
  <div class="mt-3">
    <%= link_to I18n.t("show_profile"), @profile, class: "btn btn-info" %>
    <%= link_to I18n.t("back_to_profile"), profiles_path, class: "btn btn-secondary" %>
  </div>
</div>
