<div class="container mt-4">
  <h1><%=I18n.t("new_profile") %>></h1>
  <%= render "form", profile: @profile %>
  <div class="mt-3">
    <%= link_to I18n.t("back_to_profiles"), profiles_path, class: "btn btn-secondary" %>
  </div>
</div>
