<h1 class="p-3 text-center text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">New profile</h1>

<%= render "form", profile: @profile %>

<br>

<div>
  <%= link_to "Back to profiles", profiles_path, class: "d-block text-center mx-auto" %>
</div>
