<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div id="<%= dom_id @topic %>" class="post-container card mb-3">
        <div class="card-body">
          <h3 class="card-title"><%= @topic.name %></h3>
          <p class="card-text"><%= @topic.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>