<div class="container mt-4">
  <h1><%= I18n.t("list_of_topics") %></h1>
  <div class="text-center mb-4">
    <%= link_to I18n.t("new_topic"), new_topic_path, class: "btn btn-primary" %>
  </div>
  <% @topics.each do |topic| %>
    <div class="mb-3">
      <%= link_to topic.name, topic_path(topic) %>
      <small class="text-muted">
        (Posts: <%= topic.posts.count %>)
      </small>
    </div>
  <% end %>
</div>