<% if current_user&.is_banned %>
  <h1>You can't create topics, your account is banned</h1>
<% elsif !current_user %>
  <h1>You have to sign in/sign up make a post</h1>
<% else %>
  <h1 class="mb-4">New post</h1>
  <%= render "form", post: @post %>
<% end %>

<br>

<div>
  <%= link_to "Back to posts", posts_path, class: "btn btn-secondary" %>
</div>
